@font-face {
    font-family: minha_fonte;
    src: url('fonts/Future\ Edge.ttf')
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "minha_fonte";

}

#date {
    font-size: 2rem;
    color: #a755661c;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
    font-weight: 600;
    background-color: aqua;
    padding: 2rem;
}


body {
    background: url('fonts/img\ fundo.jfif') center no-repeat;
    background-size: cover;
    height: 100vh;

    display: grid;
    place-items: center;
}

.relogio {
    background-color: transparent;
    width: 80%;

    display: flex;
    justify-content: space-around;
    padding: 3%;
    box-shadow: 20px 20px 20px;
    backdrop-filter: blur(8px);
    border-radius: 12px;

}

.relogio div {
    background-color: #a755661c;
    border: 2px solid;
    border-radius: 8px;
    padding: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 1rem;

}

.relogio div span {
    font-size: 4rem;
}

.relogio div span.tempo {
    font-size: 0.75rem;
    color: brown;
    font-weight: 400;
}

@media (max-width: 600px) {
    
    .relogio {
        
        flex-direction: column;
        width: 90%;
        height: 90vh;

        
    }

    .relogio div {
        width: 90%;
        height: 14rem;
       margin-bottom: 2rem;

        
    }


};




